{erl_opts, [debug_info, bin_opt_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [etorrent]}
]}.

{plugins, [rebar3_format]}.
{format, [
    {files, ["src/*.erl", "include/*.hrl", "test/*.erl"]},
    {formatter, default_formatter},
    {options, #{
                paper => 100,
                break_indent => 2,
                inline_clause_bodies => false
               }}
]}.
